## <u> Use only those concepts which have been taught till now </u>

# <b> Problem 1: Import Pandas and Numpy in the notebook </b>

In [36]:
# Import statements

import numpy as np
import pandas as pd

# <b> Problem 2 : Load the automobile_data.csv kept in the shared folder

In [37]:
# Mount your drive and read the csv file. Make sure you are using the correct file path

df=pd.read_csv(r"E:\automobile_data.csv")

# <b> Problem 3 : Do a basic inspection and print the first and last 15 rows of your dataframe

In [38]:
# Your code here
print("The shape of dataframe would be: ", df.shape)
print("The columns of dataframe are: ",df.columns)
print("The information of dataframe would be: ",df.info())
print(df.describe())
#print(df.head(15))
#print(df.tail(15))

The shape of dataframe would be:  (205, 26)
The columns of dataframe are:  Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB
The information of dataframe would be:  None
        symboling  wheel-base      length       width      height  \
count  205.000000  205.000000  205.000000  205.000000  205.000000
mean     0.834146   98.756585  174.049268   65.907805   53.724878
std      1.245307    6.021776   12.337289    2.145204    2.443522
min     -2.000000   86.600000  141.100000   60.300000   47.800000
25%      0.000000   94.500000  166.300000   64.100000   52.000000
50%      1.000000   97.000000  173.200000   65.500000   54.100000
75%      2.000000  102.400000  183.100000   66.900000   55.500000
max      3.000000  120.900000  208.100000   72.300000   59.800000

       curb-weight  engine-size  compression-ratio    city-mpg  highway-mpg
count   205.000000   205.000000         205.000000  205.000000   205.000000
mean   2555.565854   126.907317          10.142537   25.219512    30.751220
std     520.680204    41.642693           3.972040    6.542142     6.886443
min    1488.000000    61.000000           7.000000   13.000000    16.000000
25%    2145.000000    97.000000           8.600000   19.000000    25.000000
50%    2414.000000   120.000000           9.000000   24.000000    30.000000
75%    2935.000000   141.000000           9.400000   30.000000    34.000000
max    4066.000000   326.000000          23.000000   49.000000    54.000000

In [39]:
print(df.head(15))
print(df.tail(15))

    symboling normalized-losses         make fuel-type aspiration  \
0           3                 ?  alfa-romero       gas        std
1           3                 ?  alfa-romero       gas        std
2           1                 ?  alfa-romero       gas        std
3           2               164         audi       gas        std
4           2               164         audi       gas        std
5           2                 ?         audi       gas        std
6           1               158         audi       gas        std
7           1                 ?         audi       gas        std
8           1               158         audi       gas      turbo
9           0                 ?         audi       gas      turbo
10          2               192          bmw       gas        std
11          0               192          bmw       gas        std
12          0               188          bmw       gas        std
13          0               188          bmw       gas        std
14          1                 ?          bmw       gas        std

   num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0           two  convertible          rwd           front        88.6  ...
1           two  convertible          rwd           front        88.6  ...
2           two    hatchback          rwd           front        94.5  ...
3          four        sedan          fwd           front        99.8  ...
4          four        sedan          4wd           front        99.4  ...
5           two        sedan          fwd           front        99.8  ...
6          four        sedan          fwd           front       105.8  ...
7          four        wagon          fwd           front       105.8  ...
8          four        sedan          fwd           front       105.8  ...
9           two    hatchback          4wd           front        99.5  ...
10          two        sedan          rwd           front       101.2  ...
11         four        sedan          rwd           front       101.2  ...
12          two        sedan          rwd           front       101.2  ...
13         four        sedan          rwd           front       101.2  ...
14         four        sedan          rwd           front       103.5  ...

    engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0           130         mpfi  3.47    2.68               9.0        111
1           130         mpfi  3.47    2.68               9.0        111
2           152         mpfi  2.68    3.47               9.0        154
3           109         mpfi  3.19     3.4              10.0        102
4           136         mpfi  3.19     3.4               8.0        115
5           136         mpfi  3.19     3.4               8.5        110
6           136         mpfi  3.19     3.4               8.5        110
7           136         mpfi  3.19     3.4               8.5        110
8           131         mpfi  3.13     3.4               8.3        140
9           131         mpfi  3.13     3.4               7.0        160
10          108         mpfi   3.5     2.8               8.8        101
11          108         mpfi   3.5     2.8               8.8        101
12          164         mpfi  3.31    3.19               9.0        121
13          164         mpfi  3.31    3.19               9.0        121
14          164         mpfi  3.31    3.19               9.0        121

    peak-rpm city-mpg highway-mpg  price
0       5000       21          27  13495
1       5000       21          27  16500
2       5000       19          26  16500
3       5500       24          30  13950
4       5500       18          22  17450
5       5500       19          25  15250
6       5500       19          25  17710
7       5500       19          25  18920
8       5500       17          20  23875
9       5500       16          22      ?
10      5800       23          29  16430
11      5800       23          29  16925
12      4250       21          28  20970
13      4250       21          28  21105
14      4250       20          25  24565

[15 rows x 26 columns]
     symboling normalized-losses        make fuel-type aspiration  \
190          3               256  volkswagen       gas        std
191          0                 ?  volkswagen       gas        std
192          0                 ?  volkswagen    diesel      turbo
193          0                 ?  volkswagen       gas        std
194         -2               103       volvo       gas        std
195         -1                74       volvo       gas        std
196         -2               103       volvo       gas        std
197         -1                74       volvo       gas        std
198         -2               103       volvo       gas      turbo
199         -1                74       volvo       gas      turbo
200         -1                95       volvo       gas        std
201         -1                95       volvo       gas      turbo
202         -1                95       volvo       gas        std
203         -1                95       volvo    diesel      turbo
204         -1                95       volvo       gas      turbo

    num-of-doors body-style drive-wheels engine-location  wheel-base  ...  \
190          two  hatchback          fwd           front        94.5  ...
191         four      sedan          fwd           front       100.4  ...
192         four      sedan          fwd           front       100.4  ...
193         four      wagon          fwd           front       100.4  ...
194         four      sedan          rwd           front       104.3  ...
195         four      wagon          rwd           front       104.3  ...
196         four      sedan          rwd           front       104.3  ...
197         four      wagon          rwd           front       104.3  ...
198         four      sedan          rwd           front       104.3  ...
199         four      wagon          rwd           front       104.3  ...
200         four      sedan          rwd           front       109.1  ...
201         four      sedan          rwd           front       109.1  ...
202         four      sedan          rwd           front       109.1  ...
203         four      sedan          rwd           front       109.1  ...
204         four      sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
190          109         mpfi  3.19     3.4               8.5         90
191          136         mpfi  3.19     3.4               8.5        110
192           97          idi  3.01     3.4              23.0         68
193          109         mpfi  3.19     3.4               9.0         88
194          141         mpfi  3.78    3.15               9.5        114
195          141         mpfi  3.78    3.15               9.5        114
196          141         mpfi  3.78    3.15               9.5        114
197          141         mpfi  3.78    3.15               9.5        114
198          130         mpfi  3.62    3.15               7.5        162
199          130         mpfi  3.62    3.15               7.5        162
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01     3.4              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
190      5500       24          29   9980
191      5500       19          24  13295
192      4500       33          38  13845
193      5500       25          31  12290
194      5400       23          28  12940
195      5400       23          28  13415
196      5400       24          28  15985
197      5400       24          28  16515
198      5100       17          22  18420
199      5100       17          22  18950
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[15 rows x 26 columns]

# <b>Problem 4 : You need to clean the data a little bit now. Replace all column values with the values <code>?</code> and <code>n.a</code> with <code>NaN</code>

In [40]:
# Your code here
df=df.replace(['?','n.a'],np.nan)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

# <b>Problem 5 : Print the company name which manufactured the most expensive car. Also print the price of the most expensive car

In [41]:
# Your code here
df['price']=pd.to_numeric(df['price'],errors='coerce')
df=df.dropna(subset=['price'])
most_expensive=df.loc[df['price'].idxmax()]
print("Company:", most_expensive['make'])
print("Price:", most_expensive['price'])

Company: mercedes-benz
Price: 45400.0

# <b>Problem 6 : Calculate maximum horsepowers for each company. </b>

In [42]:
# Your code here
max_horsepower = df.groupby('make')['horsepower'].max().reset_index()
print(max_horsepower)

             make horsepower
0     alfa-romero        154
1            audi        140
2             bmw        182
3       chevrolet         70
4           dodge         88
5           honda         86
6           isuzu         90
7          jaguar        262
8           mazda         84
9   mercedes-benz        184
10        mercury        175
11     mitsubishi         88
12         nissan         97
13         peugot         97
14       plymouth         88
15        porsche        207
16        renault        NaN
17           saab        160
18         subaru         94
19         toyota         92
20     volkswagen         90
21          volvo        162

# <b> Problem 7 : Print the total number of cars manufactured by each company

In [43]:
# Your code here
total_cars = df['make'].value_counts().reset_index()
#total_cars.columns = ['Company', 'Total Cars']
print(total_cars)

             make  count
0          toyota     32
1          nissan     18
2           mazda     17
3      mitsubishi     13
4           honda     13
5          subaru     12
6      volkswagen     12
7           volvo     11
8          peugot     11
9           dodge      9
10  mercedes-benz      8
11            bmw      8
12       plymouth      7
13           audi      6
14           saab      6
15        porsche      4
16      chevrolet      3
17    alfa-romero      3
18         jaguar      3
19          isuzu      2
20        renault      2
21        mercury      1

# <b> Problem 8 : Create a new column for the updated price. This updated price will be calculated on top of the given price - if the engine is in front, price will be same else if the engine is in rear, price will be doubled </b>

In [44]:
# Your code here. Use apply and lambda
def check_engine(engine,price):
    """Dobble the price for rear typed engine cars"""
    if engine=='front':
        return 1*price
    else:
        return 2*int(price)


df['updated price'] = df.apply(lambda x: check_engine(x['engine-location'],x['price']),axis=1)# apply function to make changes

C:\Users\SREE CHARITHA\AppData\Local\Temp\ipykernel_7188\658853608.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['updated price'] = df.apply(lambda x: check_engine(x['engine-location'],x['price']),axis=1)# apply function to make changes

In [45]:
df[df['engine-location']=="rear"]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,updated price
126,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,mpfi,3.74,2.9,9.5,207,5900,17,25,32528.0,65056.0
127,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,mpfi,3.74,2.9,9.5,207,5900,17,25,34028.0,68056.0
128,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,mpfi,3.74,2.9,9.5,207,5900,17,25,37028.0,74056.0

# <b>Problem 9 : Sort the dataframe by car and price columns

In [46]:

df.sort_values(['make','price'], inplace=True)
df.head()

C:\Users\SREE CHARITHA\AppData\Local\Temp\ipykernel_7188\2192848495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(['make','price'], inplace=True)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,updated price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,10.0,102,5500,24,30,13950.0,13950.0
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,mpfi,3.19,3.4,8.5,110,5500,19,25,15250.0,15250.0

# <b> Problem 10 : Create a new column which stores the number of doors in a car as integers.

In [47]:
# Your code here. Use apply
print(df['num-of-doors'].value_counts())
def string_to_int(no_of_doors):
    """Converts the string no of doors to integer value"""
    if no_of_doors== 'four':
        no_of_doors=4
        return no_of_doors
    else:
        no_of_doors=2
        return no_of_doors

df['num-of-doors'] = df.apply(lambda x: string_to_int(x['num-of-doors']),axis=1)

num-of-doors
four    113
two      86
Name: count, dtype: int64

C:\Users\SREE CHARITHA\AppData\Local\Temp\ipykernel_7188\772699100.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['num-of-doors'] = df.apply(lambda x: string_to_int(x['num-of-doors']),axis=1)

In [48]:
print(df['num-of-doors'].value_counts())

num-of-doors
4    113
2     88
Name: count, dtype: int64

# <b>Problem 11 : Concatenate the two data frames given below firstly row wise and secondly column wise.</b>

<code>GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}</code>

<code>japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}</code>

In [49]:
# Your code here
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi'], 'Price': [29995, 23600, 61500 , 58900]}
df_german = pd.DataFrame(GermanCars)
df_japanese = pd.DataFrame(japaneseCars)
# Row-wise concatenation
df_row_wise = pd.concat([df_german, df_japanese], axis=0)
print("Row-wise Concatenation:")
print(df_row_wise)
# Column-wise concatenation
# To concatenate column-wise, the DataFrames need to have the same number of rows
# Let's reset the index to ensure they have the same index values
df_german.reset_index(drop=True, inplace=True)
df_japanese.reset_index(drop=True, inplace=True)
df_column_wise = pd.concat([df_german, df_japanese], axis=1)
print("\nColumn-wise Concatenation:")
print(df_column_wise)

Row-wise Concatenation:
      Company   Price
0        Ford   23845
1    Mercedes  171995
2         BMV  135925
3        Audi   71400
0      Toyota   29995
1       Honda   23600
2      Nissan   61500
3  Mitsubishi   58900

Column-wise Concatenation:
    Company   Price     Company  Price
0      Ford   23845      Toyota  29995
1  Mercedes  171995       Honda  23600
2       BMV  135925      Nissan  61500
3      Audi   71400  Mitsubishi  58900